# https://prettier.io/docs/en/configuration
# https://www.npmjs.com/package/@trivago/prettier-plugin-sort-imports
importOrder: ["^@core/(.*)$", "^react", "^gatsby", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"]
importOrderSeparation: true
importOrderSortSpecifiers: true
# HACK: There may be an issue with some package managers, such as pnpm.
plugins: ["@trivago/prettier-plugin-sort-imports"]
