# https://prettier.io/docs/en/configuration
# https://www.npmjs.com/package/@trivago/prettier-plugin-sort-imports
importOrder: ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"]
importOrderSeparation: true
importOrderSortSpecifiers: true
